<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="showUpdateForm">
  <bss-update-personal-details (showUpdateForm)="onCloseUpdateForm($event)" ></bss-update-personal-details>
</div>
<div *ngIf="showAccountForm">
  <bss-create-account (showAccountForm)="onCloseAccountForm($event)" ></bss-create-account>
</div>
<div *ngIf="showContactForm">
  <bss-create-contact (showContactForm)="onCloseContactForm($event)" ></bss-create-contact>
</div>
<div *ngIf="showAccountUpdateForm">
  <bss-update-account [index]="accountIndex" (showUpdateAccountForm)="onCloseAccountUpdateForm($event)" ></bss-update-account>
</div>

<div *ngIf="!isLoading" class="container">
  <h1>Customer Details</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="personal-details">
        <a class="link" (click)="onOpenUpdateForm()" >Edit Personal Details</a>
        <h2>Personal Details</h2>
        <p><strong>First Name:</strong> {{customerData.first_name}}</p>
        <p><strong>Middle Name:</strong> {{customerData.middle_name}}</p>
        <p><strong>Last Name:</strong> {{customerData.last_name}}</p>
        <p><strong>Date of Birth:</strong> {{customerData.DOB}}</p>
        <p><strong>Place of Birth:</strong> {{customerData.POB}}</p>
        <p><strong>Gender:</strong> {{customerData.gender}}</p>
        <p><strong>Language:</strong> {{customerData.language}}</p>
        <p><strong>Marital Status:</strong> {{customerData.marital_status}}</p>
        <p><strong>Nationality:</strong> {{customerData.nationality}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="address-details">
        <h2>Address Details</h2>
        <ul>
          <li  *ngFor="let a of customerData.address; let i = index" style="margin-top: 30px">
            <a style="float:right;" (click)="onDeleteContact(i)" class="btn btn-danger btn-sm" >-</a>
            <strong>Apartment:</strong> {{a.apartment}}<br>
            <strong>Building:</strong> {{a.building}}<br>
            <strong>Country:</strong> {{a.country}}<br>
            <strong>City:</strong> {{a.city}}<br>
            <strong>Floor:</strong> {{a.floor}}<br>
            <strong>Postal Code:</strong> {{a.postal_code}}<br>
            <strong>State:</strong> {{a.state}}<br>
            <strong>Street:</strong> {{a.street}}
          </li>
        </ul>
        <button (click)="onOpenContactForm()" class="btn btn-dark btn-sm" >+</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="address-details">
        <h2>Account Details</h2>
        <ul>
          <li *ngFor="let a of customerData.accounts; let i = index" style="margin-top: 30px">
            <a style="float:right;" (click)="onOpenAccountUpdateForm(i)" class="btn btn-dark btn-sm" >Edit</a>
            <strong>Id:</strong> {{a.accountId}}<br>
            <strong>Name:</strong> {{a.name}}<br>
            <strong>Type:</strong> {{a.accountType}}<br>
            <strong>Market Type:</strong> {{a.marketType}}<br>
            <strong>Status:</strong> {{a.expiration ? 'In-active' : 'Active'}}<br>
          </li>
        </ul>
        <button (click)="onOpenAccountForm()" class="btn btn-dark btn-sm" >+</button>
      </div>
    </div>
  </div>
  <div class="button-container">
<!--    <button class="btn btn-primary btn-lg mr-3">Edit Details</button>-->
    <button class="btn btn-secondary btn-lg" [routerLink]="['']">Go Back</button>
  </div>
</div>
